@model JobPortal.Models.ViewModels.JobDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this job?</h3>
<div>
    <div class="mb-3">
        <strong>Title:</strong> @Model.Job.Title
    </div>

    <div class="mb-3">
        <strong>Description:</strong> @Model.Job.Description
    </div>

    <form asp-action="Delete" asp-route-id="@Model.Job.Id" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Job.Id" />
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
